
:root{

    --red-1: #fdad00 !important;
    font-family: titulos !important;
}

@font-face {

    font-family: letra;
    src: url(Archivos/font/BarlowCondensed-ExtraLight.ttf);
}
@font-face {

    font-family: titulos;
    src: url(Archivos/font/BarlowCondensed-Bold.ttf);
}

@font-face {

    font-family: boton;
    src: url(Archivos/font/Coolvetica\ Rg.otf);
}

@keyframes loopres {
    0%{
        transform: translateX(50px);
    }
    50%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(50px);
    }
}

@keyframes loopresalreves {
    0%{
        transform: translateX(-50px);
    }
    50%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-50px);
    }
}




@keyframes loop {
    0%{
        transform: translateX(100px);
    }
    50%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(100px);
    }
}

@keyframes loopalreves {
    0%{
        transform: translateX(-100px);
    }
    50%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-100px);
    }
}

body{
    max-width: 100%;
    margin: 0 !important;
    padding: 0 !important;
     box-sizing: border-box !important;
    background-color:black !important;
background-size: 100%;
overflow-x: hidden;
}
 #contenedor-mascota {
    position: fixed;
    bottom: 30px;
    left: 1700px;
    z-index: 1000;
    text-align: center;
  }

  #mascota {
    width: 120px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  #mascota:hover {
    transform: scale(1.1);
  }

  #mensaje-mascota {
    display: none;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    width: 220px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    position: absolute;
    top: -20px;
    left: -80px;
    font-size: 14px;
  }

  #boton-hablar {
    position: fixed;
    bottom: 10px;
    right: 30px;
    background-color: #FFCC00;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1001;
  }

  #boton-hablar:hover {
    background-color: #ff9e00;
  }
#mensaje-mascota{
    font-family: boton !important;
}
span{
    font-family: boton !important;
}
li{
    font-family: titulos !important;
}
ul{
    font-family: titulos !important;
}

i{
    font-family: titulos !important;
}
h1 {
    font-family: titulos !important;
}
h2 {
    font-family: titulos !important; 
}
a{
    font-family: titulos;
}
h3{
    font-family: titulos !important;
    padding-bottom: 0.4em !important;
}
button {
    font-family: boton !important;
}
p{
    font-family: letra !important;

}
marquee{
    font-family: titulos !important;

}

#uno{
    margin-bottom: 1em !important;
    margin-left: 1em;
}
#uno #primeraparte{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#primeraparte img{
    width: 50em;
}

  #boton-hablar {
    position: fixed;
    bottom: 10px;
    right: 30px;
    background-color: #FFCC00;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1001;
  }

  #boton-hablar:hover {
    background-color: #ff9e00;
  }

button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    height: 10em;
font-size: 2.618rem !important; 
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
}
.boton1{
    background: none;
    color: #fdd937;
}

.boton1 svg{
    width: 8em;
    height: 2.5em;
    position: absolute;
}

.boton1 rect{
    width: 8em;
    height: 2.5em;
    stroke: #fdd937;
    stroke-width: 5px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: .6s ease all;
}
.boton1:hover rect{
    stroke-dashoffset: 0;
}
.boton2{
    background: none;
    color: #fdd937;
}

.boton2 svg{
    width: 8em;
    height: 2.5em;
    position: absolute;
}

.boton2 rect{
   
    width: 8em;
    height: 2.5em;
    stroke: #fdd937;
    stroke-width: 5px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: .6s ease all;
}
.boton2:hover rect{
    stroke-dashoffset: 0;
}
#logo {
    width: 5em;
}
#uno #gif{
    display: flex !important;
    justify-content: space-evenly !important;
    margin-top:-8em;
}
#uno #gif video{
    width: 100em;
    height:60em;
}

#uno #gif p{
    text-align: center;
    margin-top: 2em;
    line-height: 1;
    font-family: titulos !important;
    color: #fdd937;
    font-size: 11.089rem;
}
#dos{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    padding-top: 10em;
    padding-bottom: 5em;
    padding-left: 3em;
    background-color: #000000;
    position: relative;
}
#dos h2{
    text-decoration-line: underline;
    font-size: 4.236rem  !important;
    color: #fdd937 ;
    display: flex;
    justify-content: right;
    margin-right: 6.5em;
}

#dos #descuno{
    margin-top: 5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#dos #img1 img{
    margin-inline: 2.1em;
    animation: loop 20s ease-in-out infinite;
}
#dos #img1 img{
    border-radius: 1em;
   width: 22em;
   height: 22em;
}

#dos #desc1{
    font-size: 2.618rem;
    color: #FFFFFF;
    background-color: #4e4c49;
    border-radius: 1em;
    padding: 1em 3em 1em 3em;
}

#dos #objuno{
   
    margin-top: 5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


#dos #obj1{
    font-size: 2.618rem;
    color: #FFFFFF;
    background-color: #4e4c49;
    border-radius: 1em;
    padding: 1em 3em 1em 3em;
}


#dos button {
    position: absolute;
    right: 185px;
    top: 650px;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 3px;
}
.boton3{
    background: none;
    color: #fda91b;
}

.boton3 svg{
    width: 8em;
    height: 2.5em;
    position: absolute;
}

.boton3 rect{
    width: 8em;
    height: 2.5em;
    stroke: #fda91b;
    stroke-width: 5px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: .6s ease all;
}
.boton3:hover rect{
    stroke-dashoffset: 0;
}

#dos #mov1{
 
   margin-inline: 5em;
   font-size: 4.236rem;
}
#mov1{
    font-size: 4.236rem !important;
    color: rgb(255, 255, 255);
}
#video{
    padding-left: 2.5em;
        display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
#video video{
     width: 150em;
}

#tres{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    padding-top: 5em;
    padding-bottom: 10em;
    padding-left: 10em !important;
  background-color: #000000;
    position: relative;
}
#tres h2{
     text-decoration-line: underline;
    font-size: 4.236rem ;
    color: #fdd937 ;
    display: flex;
    justify-content: left;
    margin-left: 5em;
    
}

#tres #descdos{
    margin-top: 5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#tres #img2 img{
    margin-inline: 2.1em;
    animation: loopalreves 20s ease-in-out infinite;
}
#tres #img2 img{
        border-radius: 1em;
   width: 22em;
   height: 22em;
}

#tres #desc2{
    font-size: 2.618rem;
    color: #FFFFFF;
    background-color: #4e4c49;
    border-radius: 1em;
    padding: 1em 3em 1em 3em;
}

#tres #objdos{
    margin-top: 5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


#tres #obj2{
    font-size: 2.618rem;
    color: #FFFFFF;
    background-color: #4e4c49;
    border-radius: 1em;
    padding: 1em 3em 1em 3em;
}

#tres button{
    position: absolute;
    left: 260px;
    top: 600px;
    padding: 0.4em 1em 0.4em 1em;
    border-radius: 3px;
}
.boton4{
    background: none;
    color: #fda91b;
}

.boton4 svg{
    width: 8em;
    height: 2.5em;
    position: absolute;
}

.boton4 rect{
    width: 8em;
    height: 2.5em;
    stroke: #fda91b;
    stroke-width: 5px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: .6s ease all;
}
.boton4:hover rect{
    stroke-dashoffset: 0;
}
#tres #mov2{
   margin-top: 5em;
   color: rgb(255, 255, 255);
   margin-inline: 5.5em;
}
#mov1{
    margin-top: 5em;
    
}
#mov1 b{
    color: #fdd937   ;
}
#mov2{
    font-size: 4.236rem;
}
#mov2{
    margin-top: 5em;
}
#mov2 b{
    color: #fdd937   ;
}
#cuatro{
    padding-bottom: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#cuatro h1{
    font-size: 4.236rem ;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #fdd937 ;
}
#cuatro .accordion{
    width: 100em !important;
}
#cuatro .accordion .accordion-button::after{
 background-color: rgb(253, 169, 24);
text-align: center;
 border-radius: 0.5em;
} 
#cuatro .accordion .accordion-button{
    font-size: 4.236rem !important;
    height: 2em !important;
    
}
#cuatro .accordion .accordion-body{
    font-size: 2.618rem;
        padding-top: 1em;
    padding-bottom: 1em;
}

#cuatro .accordion-button{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
   
}
#cuatro .accordion-body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: letra;

}
#cuatro .accordion-body a{
    color: #fdd937;
         text-decoration-line: underline;
}

footer {    
    background-color: #fdad00; 
    padding: 40px 20px
    
}
#foo{
    padding-top: 6em;
    padding-bottom: 6em;
    padding-left: 25em !important;
}

.footer-container {

    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    padding: 10px;
    min-width: 250px;
    margin-right: 20px;
}

.footer-section h3 {
    font-size: 2.618rem;
    margin-bottom: 15px ;
    color: #000000; 
}

.footer-section p, .footer-section ul {
    font-size: 2.618rem;
    line-height: 1.6;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #000000; 
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons img{
        cursor: pointer;
    width: 4em;
    transition: color 0.3s ease;
    margin-inline: 1em;
    transition: 0.5s ease;
}
.social-icons img:hover{
            cursor: pointer;
    -webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 0.5s ease;
}

.sena img{
    padding-top: 1em;
    width: 22em !important;
}

.footer-bottom {
    text-align: center;
    padding: 20px 0;
    background-color: #111;
    font-size: 2.618rem;
}

.footer-bottom p {
    margin: 0;
}

@media only screen and (max-width: 1536px){

     #contenedor-mascota {
    bottom: 30px;
    left: 1370px;
    z-index: 1000;
  }

    #dos button {

    right: 185px;
    top: 530px;
}

#tres button{
    left: 225px;
    top: 500px;
}
}
@media only screen and (max-width: 769px) {
      #logo{
        width: 4em;
    }
     br{
        display: none;
    }
    
  .boton1{
        padding-left: 5em;
    }
        #uno #gif{
        flex-direction: column-reverse;
        margin-top: 0 !important;
        padding-left: 5.7em;
    }
        #uno #gif video{
        padding-top: 3em;
      width: 64em;
      height: 40em;
}
#uno #gif p{
    margin-right: 0.1em;
    margin-top: 0;
    font-size: 10rem;
}
#dos h2{
    padding-left: 1.8em;
    text-align: center;
    font-size: 4.236rem !important;
        margin-right: 1em;
}
#dos #descuno{
        padding-left: 2em;
    flex-direction: column;
}
#dos #img1 img{
        margin-right: 7em !important;
      margin-inline: 0.5em;
    animation: loop 20s ease-in-out infinite;
}
#dos #img1 img{
    width: 20em;
   height: 20em;
}

#dos #desc1{
 margin-left: 3em;
  margin-right: 1em;
    margin-top: 2em;
    font-size: 2rem;
        padding: 1em 2em 1em 2em;
 }
  #dos button {
    font-size: 2rem !important;
    right: 250px;
    top: 1200px;
 }
 #dos #objuno{
    flex-direction: column;
}
#dos #obj1{
 margin-left: 3em;
  margin-right: 1em;
    margin-top: 2em;
    font-size: 2rem;
        padding: 1em 2em 1em 2em;
 }
 #dos #mov1{
    padding-top: 2em;
   margin-inline: 0;
   font-size: 1.4rem;
}
#mov1{
    font-size: 2rem !important;
    color: rgb(255, 255, 255);
}
#video video{
    margin-left: 3.2em;
     width: 65em;
       padding-left: 2.6em;
}
#tres{
    padding-top: 7em;
        padding-bottom: 5em;
}
#tres h2{
   padding-right: 2em;
    text-align: center;
    font-size: 4.236rem !important;
        margin-left: 1em;
}
#tres #descdos{
    flex-direction: column;
}
#tres #img2 {
        padding-right: 6em;
    display: flex   ;
}
#tres #img2 img{
    margin-right: 7em !important;
      margin-inline: 0.5em;
    animation: loop 20s ease-in-out infinite;
}
#tres #img2 img{
    width: 20em;
   height: 20em;
}
#tres #desc2{
 margin-left: 1em;
  margin-right: 4em;
    font-size: 2rem;
        padding: 1em 2em 1em 2em;
        margin-bottom: 2em;
 }
 #tres button {
        font-size: 2rem !important;
  left: 303px;
    top: 1260px;
 }
 #tres #objdos{
    flex-direction: column;
}
#tres #obj2{
 margin-left: 1em;
  margin-right: 4em;
    margin-bottom: 2em;
    font-size: 2rem;
        padding: 1em 2em 1em 2em;
 }
 
 #tres #mov2{
    padding-top: 2em;
   margin-inline: 0;
   font-size: 1.4rem;
}

#video{
    padding-left: 0;
}
#mov2{
    font-size: 2rem !important;
    color: rgb(255, 255, 255);
}
#cuatro{
    padding-top: 0 !important;
    padding-bottom: 5em;
}
#cuatro h1{
        padding-left: 1.5em;
    font-size: 4.236rem ;
}
#cuatro .accordion{
    width: 60em !important;
    padding-left: 5em;
}
#cuatro .accordion .accordion-button{
    font-size: 4rem !important;
    height: 2em !important;
    
}

#cuatro .accordion .accordion-body{
   font-size: 2rem;
}
.footer-container {
        padding-left: 5em !important;
}
#foo {
    text-align: center;
    padding-left: 2em !important;
        padding-bottom: 10em;
}
.footer-section h3 {
    font-size: 2.5rem;
    margin-bottom: 15px ;
    color: #000000; 
}
.footer-section p, .footer-section ul {
    font-size: 2rem;
    line-height: 1.6;
}

.social-icons img{
        cursor: pointer;
    width: 3em;
    transition: color 0.3s ease;
    margin-left: 12em;
    transition: 0.5s ease;
}

}


@media only screen and (max-width: 600px) {
    #logo{
        width: 3.5em;
    }
    br{
        display: none;
    }
    button{
            width: 5em;
    height: 5em;
font-size: 1.500em !important;
    }    
    .boton1{
        padding-top: 3em;
        padding-left: 5em;
    }
    .boton2{
        padding-top: 3em;
    }
    #uno #gif video{
        padding-top: 3em;
      width: 33em;
      height: 25em;
}
    #uno #gif{
        flex-direction: column;
        margin-top: 0;
        padding-left: 4.5em;
    }
#uno #gif p{
    margin-top: 2em;
    line-height: 1;
    font-family: titulos !important;
    color: #fdd937;
    font-size: 3rem;
    padding-left: 0;
}
#dos{
    padding-top: 7em;
}
#dos h2{
    text-align: center;
    font-size: 2rem !important;
    padding-left: 4em;
        margin-right: 3em;
}
#dos #descuno{
    padding-right: 1.2em;
    flex-direction: column;
}
#dos #img1 img{
    margin-right: 2.5em !important;
      margin-inline: 0.5em;
    animation: loopres 20s ease-in-out infinite;
}
#dos #img1 img{
    width: 12em;
   height: 12em;
}
#dos #desc1{
 margin-left: 3em;
  margin-right: 1em;
    margin-top: 2em;
    font-size: 1.4rem;
        padding: 1em 2em 1em 2em;
 }
 #dos button {
        font-size: 1.4rem !important; 
    right: 125px;
    top: 860px;
 }
 #dos #objuno{
    flex-direction: column;
}
#dos #obj1{
 margin-left: 3em;
  margin-right: 1em;
    margin-top: 2em;
    font-size: 1.4rem;
        padding: 1em 2em 1em 2em;
 }
 #dos #mov1{
    padding-top: 2em;
 
   margin-inline: 0;
   font-size: 1.4rem;
}
#mov1{
    font-size: 1.4rem !important;
    color: rgb(255, 255, 255);
}
#video video{
    margin-left: 3.2em;
     width: 35em;
       padding-left: 2em;
}
#tres{
    padding-top: 7em;
        padding-bottom: 5em;
}
#tres h2{
    text-align: center;
    font-size: 2rem !important;
    padding-right: 3em;
        margin-left: 0;
}
#tres #descdos{
    flex-direction: column;
}
#tres #img2 {
        padding-left: 2em;
    display: flex   ;
}
#tres #img2 img{
    margin-right: 2.5em !important;
      margin-inline: 0.5em;
    animation: loopresalreves 20s ease-in-out infinite;
}
#tres #img2 img{
    width: 12em;
   height: 12em;
}
#tres #desc2{
    width: 20.5em;  
    height: 16em; 
 margin-left: 1em;
  margin-right: 4em;
    font-size: 1.4rem;
        padding: 1em 2em 1em 2em;
        margin-bottom: 2em;
 }
 #tres button {
  left: 190px;
    top: 900px;
 }
 #tres #objdos{
    flex-direction: column;
}
#tres #obj2{
        width: 20.5em;  
    height: 11em; 
 margin-left: 1em;
  margin-right: 4em;
    margin-bottom: 2em;
    font-size: 1.4rem;
        padding: 1em 2em 1em 2em;
 }
 
 #tres #mov2{
    padding-top: 2em;
 
   margin-inline: 0;
   font-size: 1.4rem;
}

#mov2{
    font-size: 1.4rem !important;
    color: rgb(255, 255, 255);
}
#cuatro{
    padding-top: 0 !important;
    padding-bottom: 5em;
}
#cuatro h1{
        padding-left: 2em;
    font-size: 2rem ;
}
#cuatro .accordion{
    width: 30em !important;
    padding-left: 5em;
}
#cuatro .accordion .accordion-button{
    font-size: 2rem !important;
    height: 2em !important;
    
}

#cuatro .accordion .accordion-body{
   font-size: 1.4rem;
}
.footer-container {
    flex-direction: column;
        padding-left: 5em !important;
}
#foo {
            padding-top: 2em !important;
    padding-bottom: 5em !important;
    text-align: center;
    padding-left: 2em !important;
        padding-bottom: 10em;
}
.footer-section h3 {
    font-size: 2rem;
    margin-bottom: 15px ;
    color: #000000; 
}
.footer-section p, .footer-section ul {
    font-size: 1.5rem;
    line-height: 1.6;
}

.social-icons img{
        cursor: pointer;
    width: 2em;
    transition: color 0.3s ease;
    margin-left: 4.2em;
    transition: 0.5s ease;
}
}