@font-face {

    font-family: titulos;
    src: url(Archivos/font/BarlowCondensed-Bold.ttf);
}
body{
            background-image: url(Archivos/img1/Mesa\ de\ trabajo\ 9.jpg);
    background-repeat: no-repeat;
        margin: 0 !important;
    padding: 0 !important;
     box-sizing: border-box !important;
background-size: 100%;
overflow-x: hidden;
}
:root{

    --red-1: #fdad00 !important;
    margin: 0 !important;
    padding: 0 !important;
}

@media only screen and (max-width: 600px){
body{
      background-image: url(Archivos/img2/Mesa\ de\ trabajo\ 3.jpg);
          background-repeat: none;
      width: 100%;
}
}