@font-face {

    font-family: letra;
    src: url(Archivos/font/BarlowCondensed-ExtraLight.ttf);
}
@font-face {

    font-family: titulos;
    src: url(Archivos/font/BarlowCondensed-Bold.ttf);
}
@font-face {

    font-family: boton;
    src: url(Archivos/font/Coolvetica\ Rg.otf);
}
:root{

    --red-1: #fdad00 !important;
    margin: 0 !important;
    padding: 0 !important;
}
body{
 

    margin: 0 !important;
    padding: 0 !important;
     box-sizing: border-box !important;
    background-color:black !important;
background-size: 100%;
overflow-x: hidden;
}
#contenedor-mascota {
    position: fixed;
    bottom: 30px;
    left: 1700px;
    z-index: 1000;
    text-align: center;
  }

  #mascota {
    width: 120px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  #mascota:hover {
    transform: scale(1.1);
  }

  #mensaje-mascota {
    display: none;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    width: 220px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    position: absolute;
    top: -20px;
    left: -80px;
    font-size: 14px;
  }

  #boton-hablar {
    position: fixed;
    bottom: 10px;
    right: 30px;
    background-color: #FFCC00;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1001;
  }

  #boton-hablar:hover {
    background-color: #ff9e00;
  }


#mensaje-mascota{
    font-family: boton !important;
}

span{
    font-family: boton !important;
}
h1 {
    font-family: titulos;
}
h2 {
    font-family: titulos;
}
a{
    font-family: boton  !important;
}
h3{
    font-family: titulos;
}
button {
    font-family: boton !important;
}
p{
    font-family: letra;
}
header{
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}
header #primeraparte{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#primeraparte img{
    width: 18em;
}

#primeraparte #barras{
    width: 4em !important;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.618rem !important;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    font-family: titulos !important;
}
.boton1{
    background: none;
    color: #fdd937;
}

.boton1 svg{
    width: 8em;
    height: 2.5em;
    position: absolute;
}

.boton1 rect{
    width: 8em;
    height: 2.5em;
    stroke: #fdd937;
    stroke-width: 5px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: .6s ease all;
}
.boton1:hover rect{
    stroke-dashoffset: 0;
}
.boton2{
    background: none;
    color: #fdd937;
}

.boton2 svg{
    width: 8em;
    height: 2.5em;
    position: absolute;
}

.boton2 rect{
    width: 8em;
    height: 2.5em;
    stroke: #fdd937;
    stroke-width: 5px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: .6s ease all;
}
.boton2:hover rect{
    stroke-dashoffset: 0;
}
#primero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#primero h1{
    font-size: 11.089rem;
    color: #fdd937 ;
}

#primero p{
  font-size: 2.618rem;
  color: #ffffff;
}
#video{
    display: flex;
        flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5em;
}
#video video{
width: 100em;
    height: 75em;
}
#video h1{
    Color: #fdd937;
    font-size: 8.472rem;
}
#tercero{
    background-color: #fdd937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        padding-top: 5em;
    padding-bottom: 5em;
}
#tercero #one{
    display: flex;
}
#tercero #two{
    display: flex;
}
#tercero .card{
    background-color: #000000;
      width: 28.2em !important;
    margin: 2em 8em 2em 2em;
}
#tercero .card img{
    width: 28em;
}
#tercero .card h5{
    text-align: center;
    color: #ffffff;
font-size: 2.618rem;
}
#tercero .card p{
     font-size: 2.618rem;
}
#tercero .card a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #fdd937;
    font-size: 1.309rem;
}
footer {    
    background-color: #fdad00; 
    padding: 40px 20px
    
}
#foo{
    padding-top: 6em;
    padding-bottom: 6em;
}


.footer-container {

    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    padding: 10px;
    min-width: 250px;
    margin-right: 20px;
}

.footer-section h3 {
    font-size: 2.618rem;
    margin-bottom: 15px ;
    color: #000000; 
}

.footer-section p, .footer-section ul {
    font-size: 2.618rem;
    line-height: 1.6;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #000000; 
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons img{
        cursor: pointer;
    width: 4em;
    transition: color 0.3s ease;
    margin-inline: 1em;
    transition: 0.5s ease;
}
.social-icons img:hover{
            cursor: pointer;
    -webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 0.5s ease;
}

.sena img{
    padding-top: 1em;
    width: 22em !important;
}


.footer-bottom {
    text-align: center;
    padding: 20px 0;
    background-color: #111;
    font-size: 2.618rem;
}

.footer-bottom p {
    margin: 0;
}

                            @media only screen and (max-width: 1536px){

   #contenedor-mascota {
    bottom: 30px;
    left: 1370px;
    z-index: 1000;
  }
  #foo{
       padding-left: 30em;
  }
 }




@media only screen and (max-width: 1025px) {

#primero p{
    width: 80%;
    text-align: center;
}

#video video{

    width: 75em;
    height: 50em;
}

#tercero{
    flex-direction: row;

    #one, #two{
        flex-direction: column;
    }
}

}
@media only screen and (max-width: 920px) {

#primero p{
 
    text-align: center;
}

#video video{

    width: 50em;
    height: 35em;
}

#tercero{
    flex-direction: row;

    #one, #two{
        flex-direction: column;
    }
}

}

@media only screen and (max-width: 769px) {
#primeraparte {
    padding-top: 3em;
}
#primeraparte img {
  width: 10em;
}


button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem !important;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    font-family: titulos !important;
}
.boton1{
    background: none;
    color: #fdd937;
}

#primero p{

    text-align: center;
}

#video video{


        width: 55em;
        height: 47em;
    
}

#tercero{
    justify-content: center;
    flex-direction: row;
    
  

}

#tercero #one{
    display: flex;
    flex-direction: column;
    margin-left: 6em;
}
#tercero #two{
    display: flex;
     flex-direction: column;
       margin-left: -6em;
}
#foo {
    text-align: center;
    padding-left: 2em !important;
        padding-bottom: 10em;
}
.footer-section h3 {
    font-size: 2.5rem;
    margin-bottom: 15px ;
    color: #000000; 
}
.footer-section p, .footer-section ul {
    font-size: 2rem;
    line-height: 1.6;
}

.social-icons img{
        cursor: pointer;
    width: 3em;
    transition: color 0.3s ease;
    margin-left: 13em;
    transition: 0.5s ease;
}
}















@media only screen and (max-width: 700px)  {

    #tercero {
        flex-direction: column;
    }

    header #primeraparte{
        margin-top: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#primeraparte img{
    width: 5em;
}

#primeraparte #barras{
    width: 1em !important;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem !important;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    font-family: titulos !important;
}
.boton1{
    background: none;
    color: #fdd937;
}

.boton1 svg{
    width: 6em;
    height: 1.5em;
    position: absolute;
}

.boton1 rect{
    width: 6em;
    height: 1.5em;
    stroke: #fdd937;
    stroke-width: 5px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: .6s ease all;
}
.boton1:hover rect{
    stroke-dashoffset: 0;
}
.boton2{
    background: none;
    color: #fdd937;
}

.boton2 svg{
    width: 6em;
    height: 1.5em;
    position: absolute;
}

.boton2 rect{
    width: 6em;
    height: 1.5em;
    stroke: #fdd937;
    stroke-width: 5px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: .6s ease all;
}
.boton2:hover rect{
    stroke-dashoffset: 0;
}

#primero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#primero h1{
    font-size: 4rem;
    color: #fdd937 ;
}

    #primero p {
        margin-left: 1em;
        font-size: 1.8rem;
        color: #ffffff;
    }

#video{
    display: flex;
        flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
}
#video video{
width: 28em;
    height: 28em;
}
#video h1{
    Color: #fdd937;
    font-size: 5rem;
}


#tercero #one{
    display: flex;
    flex-direction: column;
    margin-left: 6em;
}
#tercero #two{
    display: flex;
     flex-direction: column;
       margin-left: 6em;
}
#tercero .card{
    width: 10rem;
    background-color: #000000;
      width: 21.2em !important;
    margin: 2em 8em 2em 2em;
}
#tercero .card img{
    width: 21em;
}
#tercero .card h5{
    text-align: center;
    color: #ffffff;
font-size: 2.618rem;
}
#tercero .card p{
     font-size: 2.618rem;
}
#tercero .card a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #fdd937;
    font-size: 1.309rem;
}

  .footer-container {
    flex-direction: column;
}
#foo {
            padding-top: 2em !important;
    padding-bottom: 4em !important;
    text-align: center;
}
.footer-section h3 {
    font-size: 2rem;
    margin-bottom: 15px ;
    color: #000000; 
}
.footer-section p, .footer-section ul {
    font-size: 1.5rem;
    line-height: 1.6;
}

.social-icons img{
        cursor: pointer;
    width: 2em;
    transition: color 0.3s ease;
    margin-left: 5.5em;
    transition: 0.5s ease;
}
}
