@font-face {

    font-family: letra;
    src: url(Archivos/font/BarlowCondensed-ExtraLight.ttf);
}
@font-face {

    font-family: titulos;
    src: url(Archivos/font/BarlowCondensed-Bold.ttf);
}

@font-face {

    font-family: boton;
    src: url(Archivos/font/Coolvetica\ Rg.otf);
}


:root{

    --red-1: #fdad00 !important;
    margin: 0 !important;
    padding: 0 !important;
}
body{
    scroll-behavior: none !important;
    margin: 0 !important;
    padding: 0 !important;
     box-sizing: border-box !important;
    background-color:black !important;
overflow-x: hidden;
 scrollbar-color: #000 #FFF !important;
}



#contenedor-mascota {
    position: fixed;
    bottom: 30px;
    left: 1700px;
    z-index: 1000;
    text-align: center;
  }

  #mascota {
    width: 120px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  #mascota:hover {
    transform: scale(1.1);
  }

  #mensaje-mascota {
    display: none;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    width: 220px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    position: absolute;
    top: -20px;
    left: -80px;
    font-size: 14px;
  }

  #boton-hablar {
    position: fixed;
    bottom: 10px;
    right: 30px;
    background-color: #FFCC00;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1001;
  }

  #boton-hablar:hover {
    background-color: #ff9e00;
  }

#mensaje-mascota{
    font-family: boton !important;
}
span{
    font-family: boton !important;
}
h1 {
    font-family: titulos;
}
h2 {
    font-family: titulos;
}
a{
    font-family: titulos;
}
h3{
    font-family: titulos;
}
button {
    font-family: boton !important;
}
p{
    font-family: letra;
}
header{
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}
header #primeraparte{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#primeraparte img{
    width: 18em;
}

#primeraparte #barras{
    width: 4em !important;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.618rem !important;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    font-family: titulos !important;
}
.boton1{
    background: none;
    color: #fdd937;
}

.boton1 svg{
    width: 8em;
    height: 2.5em;
    position: absolute;
}

.boton1 rect{
    width: 8em;
    height: 2.5em;
    stroke: #fdd937;
    stroke-width: 5px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: .6s ease all;
}
.boton1:hover rect{
    stroke-dashoffset: 0;
}
.boton2{
    background: none;
    color: #fdd937;
}

.boton2 svg{
    width: 8em;
    height: 2.5em;
    position: absolute;
}

.boton2 rect{
    width: 8em;
    height: 2.5em;
    stroke: #fdd937;
    stroke-width: 5px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: .6s ease all;
}
.boton2:hover rect{
    stroke-dashoffset: 0;
}


#inicio{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffd500;
    padding-top: 5em;
    padding-bottom: 5em;
}
#inicio h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:4.236rem !important;
}
#inicio img{
    width: 30em;
    height: 20em;
}
#inicio #info{
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#inicio #info h2{
        padding-top: 1em;
     font-size:  4.236rem !important;

}
#inicio #info h3{
        padding-top: 1em;
     font-size:  2.618rem !important;
         text-decoration-line: underline;

}
#inicio #info p{
            padding-top: 1em;
     font-size:  2.618rem !important;
     text-align: center;
}
.gallery {
   margin-top: 3em;
    display: flex;
    gap: 80px;
    justify-content: center;
   
}.ga {
    margin-top: 3em;
    display: flex;
    gap: 80px;
    justify-content: center;
   
}
.videos p{
    text-align: center;
    font-size:4.236rem !important;
    font-family: letra;
    padding-top: 0.5em;
}



.gal {
    margin-top: 3em;
    display: flex;
    gap: 80px;
    justify-content: center;
   
}
#fo{ 
    padding-top: 5em;
 


}


    .swiper {
        
      width: 55% !important; 
      height: 40% !important;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 80%;
      height: 80%;
      object-fit: cover;
    }

    body {
      background: #000;
      color: #000;
    }

    .swiper {
      width: 100%;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-slide {
      background-size: cover;
      background-position: center;
    }

    .mySwiper2 {
      height: 40%;
      width: 70%;
    }

    .mySwiper {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
    }

    .mySwiper .swiper-slide {
      width: 25%;
      height: 100%;
      opacity: 0.4;
    }

    .mySwiper .swiper-slide-thumb-active {
      opacity: 1;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }



















.thumbnail {
    width: 150px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.thumbnail:hover {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    padding-top: 7em;
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

#i{
    background-color: #000000;
   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 5em;
    padding-bottom: 5em;
}
#i h1{
    color: #fdd937;
    display: flex;
    justify-content: center;
    align-items: center;
      font-size:4.236rem !important;
    
}
#i p{
color: white;
}
.videos {
   margin-top: 3em;
    display: flex;
    gap: 80px;
    justify-content: center;
   
}

#cuar{
    padding-bottom: 5em;
}


  .carrusel-container {
    width: 100%;
    height: 50vh; 
    margin: auto;
    overflow: hidden;
    position: relative;
    background-color: #333;
  }

  .carrusel {
    display: flex;
    transition: transform 1s ease;
    height: 100%;
  }

  .novedad {
    min-width: 100%;
    box-sizing: border-box;
    height: 100%;
    background-color: #fff;
    position: relative;
    overflow: hidden;
  }

  .novedad img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .novedad .contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
  }

  .novedad h2 {
    font-size: 4.236rem ;
    margin-bottom: 10px;
    opacity: 100 !important;
  }

  .novedad p {
    font-size: 2.618rem;
    color: #ffffff;
    opacity: 100 !important;
  }


    
    



                            footer {    
                                background-color: #fdad00; 
                                padding: 40px 20px
                                
                            }
                            #foo{
                                padding-top: 6em;
                                padding-bottom: 6em;
                            }
                            
                            .footer-container {
                            
                                display: flex;
                                justify-content: space-between;
                                max-width: 1200px;
                                margin: 0 auto;
                                flex-wrap: wrap;
                            }
                            
                            .footer-section {
                                flex: 1;
                                padding: 10px;
                                min-width: 250px;
                                margin-right: 20px;
                            }
                            
                            .footer-section h3 {
                                font-size: 2.618rem;
                                margin-bottom: 15px ;
                                color: #000000; 
                            }
                            
                            .footer-section p, .footer-section ul {
                                font-size: 2.618rem;
                                line-height: 1.6;
                            }
                            
                            .footer-section ul {
                                list-style-type: none;
                                padding: 0;
                            }
                            
                            .footer-section ul li {
                                margin-bottom: 10px;
                            }
                            
                            .footer-section ul li a {
                                color: white;
                                text-decoration: none;
                                transition: color 0.3s ease;
                            }
                            
                            .footer-section ul li a:hover {
                                color: #000000; 
                            }
                            
                            .social-icons {
                                display: flex;
                                gap: 15px;
                            }
                            
                          .social-icons img{
        cursor: pointer;
    width: 4em;
    transition: color 0.3s ease;
    margin-inline: 1em;
    transition: 0.5s ease;
}
.social-icons img:hover{
            cursor: pointer;
    -webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 0.5s ease;
}

                            
                         
                            
                            .footer-bottom {
                                text-align: center;
                                padding: 20px 0;
                                background-color: #111;
                                font-size: 2.618rem;
                            }

                            .sena img{
    padding-top: 1em;
    width: 22em !important;
}

                            
                            .footer-bottom p {
                                margin: 0;
                            }

                            @media only screen and (max-width: 1536px){

   #contenedor-mascota {
    bottom: 30px;
    left: 1370px;
    z-index: 1000;
  }
  #i{
    flex-wrap: nowrap;
    max-width: 100%;
}
.videos iframe{
    width: 400px;
    height: 255px;
}
  #foo{
       padding-left: 30em;
  }
 }
             
@media only screen and (max-width: 769px) {

    header #primeraparte{
    padding-top: 3em;
        margin-bottom: 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#primeraparte img{
      width: 10em;
}

#primeraparte #barras{
    width: 1em !important;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem !important;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    font-family: titulos !important;
}
.boton1{
    background: none;
    color: #fdd937;
}

.boton1 svg{
    width: 6em;
    height: 1.5em;
    position: absolute;
}

.boton1 rect{
    width: 6em;
    height: 1.5em;
    stroke: #fdd937;
    stroke-width: 5px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: .6s ease all;
}
.boton1:hover rect{
    stroke-dashoffset: 0;
}
.boton2{
    background: none;
    color: #fdd937;
}

.boton2 svg{
    width: 6em;
    height: 1.5em;
    position: absolute;
}

.boton2 rect{
    width: 6em;
    height: 1.5em;
    stroke: #fdd937;
    stroke-width: 5px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: .6s ease all;
}
.boton2:hover rect{
    stroke-dashoffset: 0;
}
#inicio{
    flex-direction: none;
    flex-wrap: none;
}

#inicio h1{
    font-size: 4.236rem !important;
}

#inicio img{
    width: 15em;
    height: 15em;
}
#inicio #info h2{
    text-align: center;
        font-size: 3rem !important;
    }
#inicio #info h3{
        font-size: 2rem !important;
}
#inicio #info p{
    margin-inline: 1em;
        font-size: 2rem !important;
}
.gallery{

    gap: 40px;
    justify-content: center;
}      
.ga{

    gap: 40px;
    justify-content: center;
}            
.gal{

    gap: 40px;
    justify-content: center;
}   
#i{
    justify-content: center;
    flex-wrap: nowrap;
}
 #i h1{
    font-size: 4.236rem !important;
    text-align: center;
    justify-content: center;
 }
.videos{
    align-items: center;
    flex-direction: column;
    gap: 0px;
}
.videos iframe{
    width: 460px;
    height: 315px;
}
.videos p{
    font-size:  4.236rem  !important;
}
.novedad h2 {
    font-size:  4.236rem  ;
    margin-bottom: 10px;
    opacity: 100 !important;
  }

  .novedad p {
    font-size: 2rem;
    color: #ffffff;
    opacity: 100 !important;
  }
#foo {
    text-align: center;
    padding-left: 2em !important;
        padding-bottom: 10em;
}
.footer-section h3 {
    font-size: 2.5rem;
    margin-bottom: 15px ;
    color: #000000; 
}
.footer-section p, .footer-section ul {
    font-size: 2rem;
    line-height: 1.6;
}

.social-icons img{
        cursor: pointer;
    width: 3em;
    transition: color 0.3s ease;
    margin-left: 13em;
    transition: 0.5s ease;
}

}



@media only screen and (max-width: 600px){
        header #primeraparte{
        margin-bottom: 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#primeraparte img{
    width: 5em;
}

#primeraparte #barras{
    width: 1em !important;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem !important;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    font-family: titulos !important;
}
.boton1{
    background: none;
    color: #fdd937;
}

.boton1 svg{
    width: 6em;
    height: 1.5em;
    position: absolute;
}

.boton1 rect{
    width: 6em;
    height: 1.5em;
    stroke: #fdd937;
    stroke-width: 5px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: .6s ease all;
}
.boton1:hover rect{
    stroke-dashoffset: 0;
}
.boton2{
    background: none;
    color: #fdd937;
}

.boton2 svg{
    width: 6em;
    height: 1.5em;
    position: absolute;
}

.boton2 rect{
    width: 6em;
    height: 1.5em;
    stroke: #fdd937;
    stroke-width: 5px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: .6s ease all;
}
.boton2:hover rect{
    stroke-dashoffset: 0;
}
#inicio{
    flex-direction: none;
    flex-wrap: none;
}

#inicio h1{
    font-size: 2.5rem !important;
}

#inicio img{
    width: 10em;
    height: 10em;
}
#inicio #info h2{
    text-align: center;
        font-size: 2.5rem !important;
    }
#inicio #info h3{
        font-size: 2rem !important;
}
#inicio #info p{
    margin-inline: 2em;
        font-size: 2rem !important;
}
.gallery{

    gap: 20px;
    justify-content: center;
}      
.ga{

    gap: 20px;
    justify-content: center;
}            
.gal{

    gap: 20px;
    justify-content: center;
} 


    .swiper {
        
      width: 90% !important; 
      height: 100% !important;
    }








#i{
    justify-content: center;
    flex-wrap: nowrap;
}
 #i h1{
    font-size: 2.5rem !important;
    text-align: center;
    justify-content: center;
 }
.videos{
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.videos iframe{
    width: 360px;
    height: 215px;
}
.videos p{
    font-size: 2.5em !important;
}
.novedad h2 {
    font-size: 2.5rem ;
    margin-bottom: 10px;
    opacity: 100 !important;
  }

  .novedad p {
    font-size: 2rem;
    color: #ffffff;
    opacity: 100 !important;
  }
  .footer-container {
    flex-direction: column;
}
#foo {
            padding-top: 2em !important;
    padding-bottom: 4em !important;
    padding-left: 2em;
    text-align: center;
        padding-bottom: 10em;
}
.footer-section h3 {
    font-size: 2rem;
    margin-bottom: 15px ;
    color: #000000; 
}
.footer-section p, .footer-section ul {
    font-size: 1.5rem;
    line-height: 1.6;
}

.social-icons img{
        cursor: pointer;
    width: 2em;
    transition: color 0.3s ease;
    margin-left: 5.5em;
    transition: 0.5s ease;
}

 }